body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  height: 100vh;          
  margin: 0;      
  overflow: auto;
}

/* Estilo geral do container do perfil */
.dashboard-container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #007bff;
  padding: 20px;
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto; /* Para rolar a barra de navegação em telas menores */
}

.sidebar-welcome {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 30px;
}

.sidebar-links ul {
  list-style: none;
  padding: 0;
}

.sidebar-links li {
  margin: 10px 0;
}

.sidebar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
}

.sidebar-links a:hover {
  text-decoration: underline;
}

.main-content {
  margin-left: 250px; /* Desloca o conteúdo para a direita */
  padding: 30px;
  background-color: #f9f9f9;
  width: 100%;
}

.dashboard-title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.dashboard-cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.card-group {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* Adiciona quebra de linha para tablets e dispositivos menores */
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 20px; /* Ajustando padding para dispositivos menores */
  text-align: center;
}

.card-number {
  font-size: 3em;
  font-weight: bold;
  color: #4caf50;
}

.card-text {
  font-size: 1em;
  color: #555;
  margin-top: 10px;
}

@media (max-width: 900px) {
  .dashboard-container {
    margin-top: 50vh;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .main-content {
    margin-left: 0;
    padding: 15px; /* Ajustando padding para telas menores */
  }

  .card-group {
    flex-direction: column;
    gap: 20px;
  }

  .card {
    width: 90%;
    padding: 15px;
  }

  .sidebar-links ul {
    padding: 10px;
  }

  .sidebar-links a {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .dashboard-container {
    margin-top: 110vh;
    flex-direction: column;
  }
  .sidebar {
    padding: 10px;
  }

  .main-content {
    padding: 10px;
  }

  .card {
    width: 100%;
    padding: 10px;
  }

  .dashboard-title {
    font-size: 1.5em;
  }
}
