body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centralizar verticalmente */
    height: 100%;
}

.login-container-login {
    background-color: #022766;
    padding: 5px;
    border-radius: 0.5em;
    box-shadow: 0px 0px 0.625em rgba(0, 0, 0, 0.381);
    width: 600px;
    height: 350px;
    margin-left: auto;
    /* Centralizar horizontalmente */
    margin-right: auto;
    /* Centralizar horizontalmente */
    align-items: center;
}

.input-field-login {
    width: 500px;
    height: 30px;
    padding: 6px;
    margin-top: 1px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.submit-button-login {
    width: 400px;
    height: 40px;
    background-color: #02457A;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

.submit-button-login:hover {
    background-color: #0056b3;
}

.signup-text-login {
    text-align: center;
    margin-top: 0.1px;
    color: #fff;
    cursor: default;
}

.signup-text-login a {
    color: #fff;
    text-decoration: none;
    padding: 0;
    cursor: pointer;
}

.signup-text-login a:hover {
    text-decoration: underline;
}

.container-login {
    padding-top: 45px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputvalidation-login {
    color: white;
}