body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.form-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}


.login-container-login {
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    width: 600px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.input-field-login {
    width: 500px;
    height: 30px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.submit-button-login {
    width: 400px;
    height: 40px;
    margin-top: 5px;
    background-color: #35A5DA;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
    font-size: 18px;
}
.signup-text-login {
    text-align: center;
    margin-top: 10px;
    cursor: default;
}
.signup-text-login a {
    font-size: 14px;
    color: black;
    text-decoration: none;
    padding: 0;
    cursor: pointer;
    transition: color 0.5s ease; /* Transição suave */
}

.signup-text-login a:hover {
    color: #35A5DA; /* Azul claro */
}
.signup-text-login p{
    font-size: 14px;
}
.container-login {
    padding-top: 40px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputvalidation-login {
    font-size: 12px;
    color: black;
}