body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Centralizar verticalmente */
    height: 100vh;
}
.login-container {
    background-color: #022766;
    padding: 2.5em;
    border-radius: 0.5em;
    box-shadow: 0px 0px 0.625em rgba(0, 0, 0, 0.381);
    width: 40em;
    height: 20em;
    margin-left: auto; /* Centralizar horizontalmente */
    margin-right: auto; /* Centralizar horizontalmente */
}

.google-login-button {
    margin-bottom: 0.5%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.7em;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 45em;
    height: 3.5em;
}

.google-login-button:hover {
    background-color: #f0f0f0;
}

.google-logo {
    width: 2em;
    margin-right: 0.5em;
}

.input-field {
    margin-top: 2%;
    width: 40em;
    height: 2.5em;
    padding: 0.625em;
    margin-bottom: 0.9375em;
    border: 1px solid #ccc;
    border-radius: 0.7em; 
}

.submit-button {
    width:65%;
    height: 3em;
    background-color: #02457A;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 14px;
}

.submit-button:hover {
    background-color: #0056b3;
}
.signup-text {
    text-align: center; /* Centralizar texto horizontalmente */
    margin-top: 0.9375em; /* Espaçamento do topo */
    color: #fff; /* Cor do texto */
}

.signup-text a {
    color: #fff; /* Cor do link */
    text-decoration: none; /* Remover sublinhado padrão do link */
}

.signup-text a:hover {
    text-decoration: underline; /* Adicionar sublinhado ao passar o mouse */
}
.quadrado{
    padding-top: 1.3em;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.inputvalidation{
    color: white;
}