body{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    height: 100vh;          
    margin: 0;               
}
.container-salvos{
    background-color: transparent;
    margin-left: 250px;
    width: 140vh;       
    height: 100%;  
    box-sizing: border-box;
    max-height: 80vh; 
     
}
.commu-logo-salvos {
    width: 190px;
}

.homePage-logo-salvos {
    width: 15px;
    margin-right: 0.5em;
    align-items: center;
}

.sidebar-salvos {
    background-color: #cccccc3b;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    width: 200px;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.sidebar-salvos h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sidebar-salvos ul {
    list-style: none;
    padding: 0;
}

.sidebar-salvos li {
    margin-bottom: 10px;
}

.sidebar-salvos a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-size: larger;
    margin-top: 30px;
}

.sidebar-salvos i {
    margin-right: 10px;
}

.sidebar-salvos button {
    background-color: transparent;
    color: black;
    border-style: outset;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 1%;
}
.main-salvos {
    display: flex;
    flex-direction: column;
}
.posts-salvos {
    background-color: whitesmoke;
    padding: 15px;
    margin-bottom: 20px;
    max-width: 1000px;
}

.post-salvos {
    background-color: white;
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.3);
}

.container-user-salvos {
    display: flex;
    width: 700px;
    height: 50px;
}
.image-user-salvos img{
    margin-top: 5px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border:1px solid;
   
}
.container-info-user-salvos {
    display: flex;
    flex-direction: column; 
}

.name-user-salvos{
    font-size: 14px;
    margin-left: 5px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    gap: 750px;
} 
.name-user-salvos p{
    margin-bottom: 0;
    
}
.curso-user-salvos{
    font-size: 14px;
    margin-left: 5px;
    margin-right: 10px;
}
.curso-user-salvos p{
    margin-top: 0;
}


.content-salvos {
    display: flex;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 800px;
    margin-left: 5px;
}

.content-salvos p {
    font-size: 15px;
    font-weight: bold;
    overflow-wrap: break-word;
    width: 690px;
    max-width: 690px;
    margin-left: 5px;
}

.actions-salvos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}
.curtir-salvos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin-right: 10px;
}
.curtir-salvos p{
    margin-right: 10px;
    font-size: 14px;
}
.curtir-salvos button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.comentar-salvos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin-right: 10px;
}
.comentar-salvos p{
    margin-right: 10px;
    font-size: 14px;
}
.comentar-salvos button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.salvar-salvos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin-right: 10px;
}
.salvar-salvos p{
    margin-right: 10px;
    font-size: 14px;
}
.salvar-salvos button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.loading-salvos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}