
.container-mais{
  width: 100%;
  height: 100vh;
}
.commu-logo-mais {
  width: 190px;
}

.homePage-logo-mais {
    width: 15px;
    margin-right: 0.5em;
    align-items: center;
}

.sidebar-mais {
  background-color: transparent;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
  width: 200px;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
}
.sidebar-mais ul {
  list-style: none;
  padding: 0;
}

.sidebar-mais li {
  margin-bottom: 10px;
}

.sidebar-mais a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  font-size: larger;
  margin-top: 30px;
}

.sidebar-mais button {
  background-color: transparent;
  color: black;
  border-style: outset;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 1%;
}

.content-mais {
  flex-grow: 1;
  padding: 20px;
  margin-right: 150px;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-mais {
  margin-bottom: 20px;
}

.settings-mais {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.settings-item-mais {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.settings-item-mais i {
  font-size: 24px;
}

.icon-profile-mais::before {
  content: "👤"; /* Icone de perfil */
}

.icon-notifications-mais::before {
  content: "🔔"; /* Icone de notificações */
}

.icon-security-mais::before {
  content: "🔒"; /* Icone de segurança */
}

.icon-blocked-mais::before {
  content: "🚫"; /* Icone de bloqueados */
}

.icon-help-mais::before {
  content: "❓"; /* Icone de ajuda */
}

.icon-logout-mais::before {
  content: "🚪"; /* Icone de sair */
}