body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Centralizar verticalmente */
    height: 100vh;
}
.Cadastro-container {
    background-color: #022766;
    padding: 2.5em;
    border-radius: 0.5em;
    box-shadow: 0px 0px 0.625em rgba(0, 0, 0, 0.1);
    width: 60em;
    height: 20em;
    margin-left: auto; /* Centralizar horizontalmente */
    margin-right: auto; /* Centralizar horizontalmente */
}

.TextField{
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 3.5px;
    border: 1px solid #ccc;
    border-radius: 3.1px;
    width: 800px;
    height: auto;
}
.Button-Cadastro{
    width:80%;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 0.625em;
    margin-bottom: 0.9375em;
    border: 1px solid #ccc;
    border-radius: 0.3125em;
}
.Text{
    color: white;
}
.signup-text {
    text-align: center; /* Centralizar texto horizontalmente */
    margin-top: 0.9375em; /* Espaçamento do topo */
    color: #fff; /* Cor do texto */
}