.modal-overlay-denunciar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content-denunciar {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  position: relative;
}

.close-button-denunciar {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.open-modal-button-denunciar {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #FF5733;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.titulo-denunciar {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.label-denunciar {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-textarea-denunciar, .input-denunciar {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
  overflow: hidden;
  resize: none;
  flex: 1;  /* Faz o textarea ocupar o espaço disponível */
  box-sizing: border-box;
}

.submit-button-denunciar {
  padding: 10px 20px;
  background-color: #FF5733;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.submit-button-denunciar:hover {
  background-color: #ff3d24;
}

.erro-denunciar, .sucesso-denunciar {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 15px;
}

.erro-denunciar {
  color: red;
}

.sucesso-denunciar {
  color: green;
}
