.container-mensagem {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}


.sidebar-mensagem {
    background-color: transparent;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    width: 200px;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
}
.sidebar-mensagem ul {
    list-style: none;
    padding: 0;
}

.sidebar-mensagem li {
    margin-bottom: 10px;
}

.sidebar-mensagem a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-size: larger;
    margin-top: 30px;
}

.sidebar-mensagem button {
    background-color: transparent;
    color: black;
    border-style: outset;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 1%;
}

.commu-logo-mensagem {
    width: 190px;
}

.homePage-logo-mensagem{
    width: 15px;
    margin-right: 0.5em;
    align-items: center;
}

.menu-mensagem {
    list-style: none;
    padding: 0;
    width: 100%;
}

.menu-mensagem li {
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.menu-mensagem li.active-mensagem {
    background-color: #cce7ff;
    border-radius: 10px;
}

.user-info-mensagem {
    margin-top: auto;
    text-align: center;
}

.user-info-mensagem img {
    width: 50px;
    border-radius: 50%;
}

.content-mensagem {
    width: 80%;
    padding: 20px;
}

.search-mensagem input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.lista-mensagem {
    list-style: none;
    padding: 0;
}

.item-mensagem {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.item-mensagem.active-mensagem {
    background-color: #e6f7ff;
}

.nome-mensagem {
    font-weight: bold;
}

.curso-mensagem, .tempo-mensagem {
    color: gray;
    font-size: 12px;
}

.tempo-mensagem {
    margin-left: auto;
}

.texto-mensagem {
    margin-top: 10px;
    font-size: 14px;
}

.search-results {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .user-item {
    padding: 10px;
    cursor: pointer;
  }
  
  .user-item:hover {
    background-color: #e6f7ff;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    display: flex;
    background: blue;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    height: 70%;
    align-items: center;
    flex-direction: column-reverse;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }
  .sendMessage{
    display: flex;
    justify-content: center;
  }
  .chat-messages{
    background-color: yellow;
  }
  
  